{% extends 'app/auth/base_auth.html' %}
{% load static %}

{% block title %}
    Logout
{% endblock %}

{% block main_content %}
    <div class="card-body p-4 p-sm-5">
        <h5 class="mb-0">Forgot your password?</h5><small>Enter your email and we'll send you a reset link.</small>
        <form class="mt-4" action="{% url 'forgot_password' %}" method="post">
            {% csrf_token %}
            <input class="form-control" type="email" name="email" placeholder="Email address">
            <button class="btn btn-primary d-block w-100 mt-3" type="submit">Send reset link</button>
        </form>
        {#        <a class="fs--1 text-600" href="#!">I can't recover my account using this page<span class="d-inline-block ms-1">→</span></a>#}
    </div>
{% endblock %}
