{% extends 'app/auth/base_auth.html' %}
{% load static %}

{% block title %}
    Logout
{% endblock %}

{% block main_content %}
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
              <a class="d-flex flex-center mb-4" href="../../../index.html">
                  <img class="me-2" src="../../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <h5 class="text-center">Reset new password</h5>
                <form class="mt-3">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input class="form-control" type="password" placeholder="New Password" />
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="password" placeholder="Confirm Password" />
                  </div>
                  <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Set password</button>
                </form>
              </div>
            </div>
          </div>
{% endblock %}

