{% extends 'apps/auth/base_auth.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block main_content %}
    <div class="card-body p-4 p-sm-5">
        <h5 class="text-center">Reset new password</h5>
        <form class="mt-3" method="post" action="{% url 'reset' uid token %}">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label"></label>
                <input class="form-control" type="password" placeholder="New Password" name="new_password1"/>
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" placeholder="Confirm Password" name="new_password2"/>
            </div>
            <button class="btn btn-primary d-block w-100 mt-3" type="submit">Set password</button>
        </form>
    </div>
{% endblock %}

