{% extends 'apps/parts/base.html' %}
{% load static %}

{% block body_content %}

    <div id="content">
        <div class="post">
            <div class="container">
                <div class="post-standard">
                    <div class="post-standard__banner">
                        <div class="post-standard__banner__image">
                            <img src="{{ post.pic.url }}" alt="Post banner image"/>
                        </div>
                        <div class="post-standard__banner__content">
                            <div class="post-card -center">
                                <div></div>
                                <div class="card__content">
                                    <h5 class="card__content-category">{{ post.category.first.name }}</h5>
                                    <a class="card__content-title"
                                       href="{% url 'post_form_detail' post.slug %}">{{ post.title }}</a>
                                    <div class="card__content-info">
                                        <div class="info__time">
                                            <i class="far fa-clock"></i>
                                            <p>Clock {{ post.created_at|date:'D d, Y' }}</p>
                                        </div>
                                        <div class="info__comment">
                                            <p>
                                                <i class="far fa-comment"></i>
                                            <p>{{ post.comment_count }}</p>
                                            </p>
                                        </div>

                                        <div class="info__view">
                                            <p>
                                                <i class="fa fa-eye"></i>
                                            <p>{{ views }}</p>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 mx-auto">
                            <div class="post-standard__content">
                                <div id="post-share">
                                    <h5>Share:</h5>
                                    <div class="social-media">
                                        <a href="#" style="background-color: #075ec8">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#" style="background-color: #40c4ff">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#"
                                           style="background-image: linear-gradient(to top, #f2a937, #d92e73, #9937b7, #4a66d3), linear-gradient(to top, #af00e1, #ff9e35)">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#" style="background-color: #ff0000">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                </div>

                                <p>{{ post.content|safe }}</p>

                                <div class="post-footer">
                                    <div class="post-footer__tags center">
                                        <div class="tags-group">
                                            {% for category in categories %}
                                                <a class="tag-btn"
                                                   href="{% url 'category' %}?category={{ category.slug }}">{{ category.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="post-footer__author">
                                        <div class="author__avatar">
                                            <img src="{% static 'apps/assets/images/post_detail/auth.png' %}"
                                                 alt="Author avatar"/>
                                        </div>

                                        <div class="author__info">
                                            <h5>Kelvin Conrad</h5>
                                            <p>An avid Ui/Ux designer & Web developer who is passionate about solving
                                                complex UX challenges across digital businesses.</p>
                                            <!-- social Media -->
                                            <div class="social-media">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-dribbble"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-footer__related">
                                        <div class="post-footer__related__item -prev">
                                            <div class="post-footer__related__item__content">
                                                <img src="{% static 'apps/assets/images/posts/webdesign.jpg' %}"
                                                     alt="Relate news image"/>
                                                <div class="post-card ">
                                                    <div></div>
                                                    <div class="card__content">
                                                        <h5 class="card__content-category">Open Source</h5>
                                                        <a class="card__content-title" href="#">Best design resources
                                                            websites every developer should bookmark</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-footer__related__item -next">
                                            <div class="post-footer__related__item__content">
                                                <div class="post-card -right">
                                                    <div></div>
                                                    <div class="card__content">
                                                        <h5 class="card__content-category">Open Source</h5>
                                                        <a class="card__content-title" href="#">Best Open Source Tools
                                                            For Developers</a>
                                                    </div>
                                                </div>
                                                <img src="{% static 'apps/assets/images/posts/opensource.jpg' %}"
                                                     alt="Relate news image"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- comments  -->
                                    <div class="post-footer__comment">
                                        <h3 class="comment-title"><span>{{ post.comment_count }} comment</span></h3>
                                        <div class="post-footer__comment__detail">
                                            {% for comment in comments|slice:3 %}
                                                <div class="comment__item">
                                                    <div class="comment__item__avatar">
                                                        <img src="{% static 'apps/assets/images/fav.png' %}"
                                                             alt="Author avatar"/>
                                                    </div>
                                                    <div class="comment__item__content">
                                                        <div class="comment__item__content__header">
                                                            <h5>{{ comment.author }}</h5>
                                                            <div class="data">
                                                                <p>
                                                                    <i class="far fa-clock"></i>{{ comment.created_at|date:'M d, Y' }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p>{{ comment.text }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% if user.is_authenticated %}
                                            <h3 class="comment-title">
                                                <span>Leave a comment</span>
                                            </h3>
                                            <div class="post-footer__comment__form">
                                                <form action="{% url 'post_form_detail' post.slug %}" method="post">
                                                    {% csrf_token %}
                                                    <textarea rows="5" placeholder="Message" name="text"></textarea>
                                                    <div class="center">
                                                        <button class="btn -normal">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}